.myCounter{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #004a99;
}
.myCounterText{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 24px;
}