<div style="margin: 186px 60px 60px 60px;">
    <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <!-- <span data-toggle="counter-up">274</span> -->
          <span class="myCounter">{{count[0]}}</span>
          <p class="myCounterText">Golfers</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <!-- <span data-toggle="counter-up">4896</span> -->
          <span class="myCounter">{{count[1]}}</span>
          <p class="myCounterText">Holes</p>
        </div>

        <div class="col-lg-3 col-6 text-center ">
          <!-- <span data-toggle="counter-up">19454</span> -->
          <span class="myCounter">{{count[2]}}</span>
          <p class="myCounterText">Strokes</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <!-- <span data-toggle="counter-up">32056</span> -->
          <span class="myCounter">{{count[3]}}</span>
          <p class="myCounterText">$ Raised</p>
        </div>

      </div>
    <div class="wp-block-media-text alignwide has-media-on-the-right" style="text-align: center;">
        <figure class="wp-block-media-text__media">
            <img data-attachment-id="155"
                data-permalink="https://oxygennj.wordpress.com/d1nwosmzpc2sru-cloudfront-net_/"
                data-orig-file="https://oxygennj.files.wordpress.com/2019/03/d1nwosmzpc2sru.cloudfront.net_.jpg"
                data-orig-size="1100,360" data-comments-opened="1"
                data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                data-image-title="d1nwosmzpc2sru.cloudfront.net_" data-image-description=""
                data-medium-file="https://oxygennj.files.wordpress.com/2019/03/d1nwosmzpc2sru.cloudfront.net_.jpg?w=300"
                data-large-file="https://oxygennj.files.wordpress.com/2019/03/d1nwosmzpc2sru.cloudfront.net_.jpg?w=640"
                src="https://oxygennj.files.wordpress.com/2019/03/d1nwosmzpc2sru.cloudfront.net_.jpg" alt=""
                class="wp-image-155" scale="0" style="width:100%;"><img src="../../assets/events/img/oxyGEN/liftedshadow_medium.png" style="width:100%;"></figure>
        <div class="wp-block-media-text__content">
            <p class="has-large-font-size"></p>
            <h3> Royce Brook Golf Club<br>201 Hamilton Road, Hillsborough Township, NJ 08844 <a
                    rel="noreferrer noopener"
                    href="https://www.google.com/maps/place/Royce+Brook+Golf+Club/@40.509769,-74.601695,15z/data=!4m2!3m1!1s0x0:0xa8d55f974f35a8ba?ved=2ahUKEwjKz87kkO_gAhURVt8KHXarCwoQ_BIwDXoECAUQCA"
                    target="_blank">(map)</a></h3>
            <p></p>



            <p>Wednesday, May 15, 2019<br>
                7:30 Breakfast<br>
                9:00 Tee Off<br>
                2:00 Lunch<br>
                2:30 Awards &amp; Prizes<br>



            </p>
            <p></p>



            <p><a target="_blank"
                    href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NjlvOTdjZTA0MnRuMTBxOTVxcGIxYmN1Y2cgb3h5Z2VuLm5qLmNoYXB0ZXJAbQ&amp;tmsrc=oxygen.nj.chapter%40gmail.com"
                    rel="noopener noreferrer"><img src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"
                        border="0" scale="0"></a></p>
        </div>
    </div>
</div>
<!--==========================
    Footer
  ============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>OXYGEN & OASIS</h3>
                    <p>Promoting STEM education through community outreach workshops and mentorship programs</p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        200 S Laurel Ave<br>
                        Middletown, NJ 07748<br>
                        United States <br>
                        <strong>Phone:</strong> (732) 420-5092<br>
                        <strong>Email:</strong> info@oxygen.com<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Sign up for update notifications</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>oxyGEN</strong>. All Rights Reserved
        </div>
        <div class="credits">
            Example hacked together by <a href="/home">J. P. Piesco</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>