<div style="margin: 186px 60px 60px 60px;">



    <h2>Sponsorship Packages</h2>



    <p><strong>Platinum Sponsor — $2000</strong>. This includes a foursome + signage banner in the banquet hall + signage banner on tee box.</p>
    
    
    
    <p><strong>Gold Sponsor — $1500</strong>. This includes a foursome + signage banner in the banquet hall.</p>
    
    
    
    <p><strong>Silver Sponsor — $1000</strong>. This includes a signage banner in the banquet hall. </p>
    
    
    
    <h2>Sponsorship À La Carte </h2>
    
    
    
    <p><strong>Lunch Sponsor — $500</strong>. Sponsor signage at lunch.  </p>
    
    
    
    <p><strong>Golf Cart Sponsor — $500</strong>. Exclusive signage in each golf cart.</p>
    
    
    
    <p><strong>Breakfast Sponsor — $500</strong>. Sponsor signage at breakfast tables.</p>
    
    
    
    <p><strong>Longest Drive Sponsor — $300</strong>. Sponsor signage at contest hole.</p>
    
    
    
    <p><strong>Closest to the pin sponsor — $300</strong>. Sponsor signage at contest hole.</p>
    
    
    
    <p><strong>Longest Putt — $300</strong>. Sponsor signage at contest hole.</p>
    
    
    
    <p><b>Contact information for sponsorship inquiries</b><br>Timothy Geraghty – <a href="mailto:timothy.geraghty@att.com">timothy.geraghty@att.com</a>        (732) 420-9826<br>Thomas Gabriel – <a href="mailto:thomas.gabriel@att.com">thomas.gabriel@att.com</a>        (908) 910-0786<br>Srini Bitla –<a href="mailto:bitla.srini@att.com">bitla.srini@att.com</a>        (732) 420-3140         </p>
</div>

<!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>OXYGEN & OASIS</h3>
            <p>Promoting STEM education through community outreach workshops and mentorship programs</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              200 S Laurel Ave<br>
              Middletown, NJ 07748<br>
              United States <br>
              <strong>Phone:</strong> (732) 420-5092<br>
              <strong>Email:</strong> info@oxygen.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Sign up for update notifications</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>oxyGEN</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Example hacked together by <a href="/home">J. P. Piesco</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>