<div style="margin-top: 106px;">
    <section id="intro" class="clearfix">
        <div class="container">
          <div class="intro-info">
            <h2>Educating the <span>LEADERS</span> of tomorrow!</h2>
            <div>
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
              <a href="#services" class="btn-services scrollto">Our Services</a>
            </div>
          </div>
        </div>
      </section><!-- #intro -->
      <main id="main"></main>

      <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>Our Mission</h3>
            <p>oxyGEN is an AT&T employee initiated non-profit 501(c)(3) organization created for the purpose of enhancing understanding, increasing retention, engaging, encouraging and developing leadership skills of AT&T’s employees through cross-generational programs, activities and resources.</p>
          </header>
        </div>
    </section>
</div>
