<div style="margin-top: 106px;">
   

      <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
  
          
  
          <div class="row about-container">
            <div class="col-lg-12 background order-lg-1 order-1 wow fadeInUp">
                <img src="assets/events/img/oxyGEN/oxygen-banner-wide.png" class="img-fluid" alt="">
              </div>
            <div class="col-lg-12 content order-lg-1 order-1">
                <div class="col-lg-12 background order-lg-1 order-1 wow fadeInUp">
                    oxyGEN was created for the purpose of encouraging understanding and acceptance of generational differences within AT&T while facilitating personal and professional growth of AT&T’s employees. oxyGEN will also assist public and community organizations designed to support the growth and development of young people; as well as those that support the vitality and independence of older adults. oxyGEN will engage in activities that support these causes and share these opportunities with AT&T employees as volunteer opportunities. The organization will serve as a platform for AT&T as a corporation to work through multi-generational initiatives wherever possible sharing corporate resources and views.
                  </div>
  
              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-youtube"></i></div>
                <h4 class="title"><a href="">oxyGEN Promo 2018</a></h4>
                <p class="description"><iframe width="472" height="266" src="https://www.youtube.com/embed/c_HoR45Z6P0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-envelope-square"></i></div>
                <h4 class="title"><a href="">Contact Us</a></h4>
                <p class="description">Contact us at oxygen.nj.chapter@gmail.com for any inquires!</p>
              </div>
  
            </div>
  
            
          </div>
  
          <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp">
              <img src="assets/events/img/oxyGEN/OasisLogoWord.PNG" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <p class="description"><img src="assets/events/img/oxyGEN/OasisLogoEducateWord.PNG" class="img-fluid" alt=""></p>
              </div>
              <div class="icon-box wow fadeInUp" data-wow-delay="0.3s">
                <p class="description"><img src="assets/events/img/oxyGEN/OasisLogoEngageWord.PNG" class="img-fluid" alt=""></p>
              </div>
              <div class="icon-box wow fadeInUp" data-wow-delay="0.3s">
                <p class="description"><img src="assets/events/img/oxyGEN/OasisLogoEnhanceWord.PNG" class="img-fluid" alt=""></p>
              </div>
            </div>
          </div>
  
          <div class="row about-extra">
            <div class="col-lg-12 wow fadeInUp order-1 order-lg-2">
              OASIS is an AT&T Employee Resource Group and a 501c3 non-profit organization. The primary purpose of the Organization of Asian Indians at AT&T (OASIS) is to provide AT&T employees with opportunities for self-development, professional enhancement, networking and support of AT&T’s business goals, while promoting greater understanding and appreciation of the cultural diversity among the AT&T workforce.
  
  At OASIS we provide a framework to help global members identify ways to better leverage their talent, connections and engagements within their organization, community and the erg initiatives to drive leadership and recognition opportunities.
  
  Additional information can be found at http://oasisatt.org/
            </div>
            
          </div>
  
        </div>
      </section><!-- #about -->
</div>

